@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>
  <canvas id="myChart"></canvas>
</div>

<script src="~/lib/chart.js/dist/chart.js"></script>
<script src="~/js/Charts.js"></script>
<script>
  
</script>
}
