@model water.Models.Meter

@{
    ViewData["Title"] = "Редактирование прибора учета";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jscolor/dist/jscolor.min.js"></script>
<h1>Редактирование</h1>

<h4>Прибора учета</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Number" class="form-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ColorGraphHex" class="form-label"></label>
                <input asp-for="ColorGraphHex" type="color" class="form-control form-control-color validate-ignore" />
                <span asp-validation-for="ColorGraphHex" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться без сохранения</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
